body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Adjusted alignment */
    align-items: center;
}

.top-bar-name {
    font-size: 32px; /* Large font size */
    font-weight: bold; /* Bold font */
    color: white;
}

.top-bar-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.top-bar-button-current {
    background-color: darkslategrey;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.top-bar-button:hover {
    background-color: white;
    color: black;
}

.content-container {
    background-color: darkgrey; /* Light grey background color */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-top: 2%;
    padding-bottom: 2%;
}

.content-container-inner {
    background-color: white; /* Light grey background color */
    
    width: 95%; 
}

.main-content {
    display: flex;
    width: 100%;
    border-top: 1px solid #ccc; /* Line between top-bar and main-content */
}

.left-content {
    width: 60%; /* Left content takes 60% of the page width */
    padding: 20px;
    border-right: 1px solid #ccc; /* Thin line between left and right content */
}

.left-content-box {
    margin: 0 0 20px; /* Add space between paragraphs */
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Thin line between paragraphs */
}

.right-content {
    width: 40%; /* Right content takes 40% of the page width */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center align text */
}

.right-content p {
    font-size: 16px; /* Large font size */
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.right-content img {
    width: 80%; /* Ensure image fits within its container */
    height: auto;
}

.content h1 {
    margin-bottom: 10px;
}

.content p {
    line-height: 1.6;
}